@using VapeShop.Web.Requests.Users;

@model RegisterUserRequest;

@{

}

<link rel="stylesheet" href="~/css/login.css">

<a class="closeModal" asp-action="Index" asp-controller="Home"></a>

<div class="container" style="display: block">
    <h1>Регистрация</h1>
    
    <form asp-action="RegisterStep2">
        <input type="hidden" value="@Model.FirstName" name="FirstName">
        <input type="hidden" value="@Model.Name" name="Name">
        <input type="hidden" value="@Model.LastName" name="LastName">
        <input type="hidden" value="@Model.DateBithDay" name="DateBithDay">
        <input type="hidden" value="@Model.Phone" name="Phone">

        <p>
            <input type="text" asp-for="Code" placeholder="Код из смс" name="Code" />
            <span asp-validation-for="Code" />
        </p>

        <input type="submit" value="Авторизоваться" class="submit-btn">

    </form>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/app.js"></script>
<script src="~/lib/TweenMax.min.js"></script>


